.maps-listing {
    .map-box {
        display: flex;
        font-size: 1.3rem;
        margin-bottom: 1rem;
		padding: 0;
        border-bottom: 2px solid #ccc;
        
        .map-download {
            flex: 0 0 50px;
        }
        .map-name {
            flex: 1 0 200px;
        }
        .map-length {
            flex: 1 0 100px;
            text-align: right;
        }
    }
}