.main-nav {
	flex: 1 0 100px;
	display: flex;
	justify-content: space-around;
    .nav-item {
        flex: 1 0 20%;
        display: flex;
		padding: 1rem;
        color: white;
        justify-content: center;
        &.nav-item-active {
            background: #78be21;
        }
        .nav-item-icon {
            margin-right: .25rem;
        }
    }
}